In [ ]:
# import module
import numpy as np
print("\nArray:")
arr = np.array([1, 2, 4, 5])  
print(arr)
print(type(arr))
lis = arr.tolist()
  
# display list
print("\nList:")
print(lis)
print(type(lis))

Array:
[1 2 4 5]
<class 'numpy.ndarray'>

List:
[1, 2, 4, 5]
<class 'list'>

In [ ]:
# importing library
import numpy

lst = [1, 7, 0, 6, 2, 5, 6]
print("List: ",lst)
print(type(lst))
# converting list to array
arr = numpy.asarray(lst)

# displaying array
print ("Array: ", arr)
print(type(arr))

List:  [1, 7, 0, 6, 2, 5, 6]
<class 'list'>
Array:  [1 7 0 6 2 5 6]
<class 'numpy.ndarray'>

In [ ]:
df.loc[df['company'] == 'apple']

  company  net_profit
0   apple          87

In [ ]:
# import pandas library
import pandas as pd
  
# dictionary
dict = {'company': ['apple', 'facebook', 
                'google'],
        'net_profit': [87, 91, 
                 97]}
df = pd.DataFrame(dict)

print(df.loc[(df['company'] ==  'apple') & df['net_profit'].isin(df)])

Empty DataFrame
Columns: [company, net_profit]
Index: []

In [ ]:
import csv
import pandas as pd
with open('sp500.csv', newline='') as csvfile:
 data = pd.read_csv(csvfile)

In [ ]:
data.head()

   company   net_profit
0  facebook   Rs.5000 c
1    google  Rs.10000 c
2     apple    Rs.300 C

In [ ]:
for row in data:
  print(row[0])
  #  if(row['company']=='apple'):
  #    print('The net profit of apple is ',row['new_profit'])

c
n

In [ ]:
class Solution:
   def solve(self, s):
      temp = [0]*len(s)
      m=len(s)-1
      for i in range(len(s)-1, -1, -1):
         if s[i]<s[m]:
           m=i
            temp[i] = m
      for i in range(len(s)):
         a = temp[i]
         if s[a] != s[i]:
            return s[:i]+s[a]+s[i+1:a]+s[i]+s[a+1:]
      return s
ob = Solution()
string = input()
print(ob.solve(string))

IndentationError: ignored

In [ ]:
from itertools import permutations
val = ['+','-']
l = list(permutations(val))
print(l)


import re
test_str = "1*5*8"
res = sum(map(int, re.findall(r'[+-]?\d+', test_str)))
print("The evaluated result is : " + str(res))
for i in range(0,2):
   test_str.replace(l[i][0],l[i][1])
   resnew = sum(map(int, re.findall(r'[+-]?\d+', test_str)))
   if(str(resnew)==4):
     print(test_str)
   else:
     continue

[('+', '-'), ('-', '+')]
The evaluated result is : 14

In [ ]:
import re

def extract_email(str1):
  emails = re.findall(r"[a-z0-9\.\-+_]+@[a-z0-9\.\-+_]+\.[a-z]+", str1)
  return emails




text = "n20200@rguktn.ac.in and n20200@rguktn.ac.in are gmail"
print(extract_email(text))

['n20200@rguktn.ac.in', 'n20200@rguktn.ac.in']

In [ ]:
def extract_url(str1):
  urls = re.findall('https?://(?:[-\w.]|(?:%[\da-fA-F]{2}))+', str1)
  return urls


text = " https://facebook.com and http://google.com are link"
print(extract_url(text))

['https://facebook.com', 'http://google.com']

In [ ]:
M = 52  # Total number of cards
n = 26  # Number of Type I cards (e.g. red cards) 
N = 11   # Number of draws (5 cards dealt in one poker hand)
k = 7   # Number of Type I cards we want in one hand


import scipy.stats as ss
hpd = ss.hypergeom(M, n, N)
p = hpd.pmf(k)
print(p)

0.1628063397551007

In [ ]:
def solution(c):
   arr=[]
   def baseConv(base2Value):
       num = int(str(base2Value),2)
       print(num)
       if(num==0):
           return 0
       res= ""
       while(num>0):
           res = str(num%6) + res
           num//=6
       return int(res)
    for a in c:
      arr.append(baseConv(a))
    
    return arr

In [ ]:
dataset = pd.read_csv('planes.csv')

In [ ]:
dataset.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [ ]:
def check(a,n):
  if n==1:
    return 1
  a.sort()
  c=0
  i=0
  while(i<n-1):
    if a[i+1]-a[i]==1:
      i=i+2
      c=c+1
    else:
      i=i+1
    if c:
      return c
    else:
      return 1

a=input()
print(check(a,n))

abc
1

In [ ]:
from itertools import islice

def MinSum(N,W):
	N = [5,5,5]
	Wt = iter(W)
	Output = [list(islice(Wt, elem)) for elem in N]
	v = 0
	for i in range(len(Output)):
			s = v + min(Output[i])
	return s+s


W = [7,1,5,2,1,4,5,2,2,5,6,3]
N = len(W)
print(MinSum(N,W))

6

In [ ]:
def nwise(lst, k):
    userList = list(zip(*[lst[i:] for i in range(k)]))
    
    return userList 
test_list = [5, 6,2,1,8,9,7]
k=int(input())
print(nwise(test_list,k))

3
[(5, 6, 2), (6, 2, 1), (2, 1, 8), (1, 8, 9), (8, 9, 7)]

**Program 1**

In [ ]:
try:
    num1=int(input())
    num2=int(input())

    result=num1+num2

    print(result)

except ValueError as e:
    print('Pls Input Integer Only',e)

except Exception as e:
    print('Other Error',e)

5
d
Pls Input Integer Only invalid literal for int() with base 10: 'd'

**Program2**

In [ ]:
import json
import pandas as pd


f = open('data.json')
dataset = pd.read_json(f,orient='columns')
dataset['reviewerName']

KeyError: ignored

In [ ]:
def combine_lists(list1, list2):  
    combine_lists = [[list1[i], list2[i]] for i in range(0, len(list1))]
    return combine_lists
words = ['A','B','C','D']
counts = [1,2,3,4]
print(combine_lists(words,counts))

[['A', 1], ['B', 2], ['C', 3], ['D', 4]]

In [ ]:
#program4
def create_dict(keys,values):
  res = {}
  for key in keys:
      for value in values:
          res[key] = value
          values.remove(value)
          break
  return str(res)
keys = ['A','B','C','D']
values = [1,2,3,4]
print(create_dict(keys,values))

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [ ]:
#program5
def sum_ndarray(elements):
  val = sum(elements)
  return val
elements = [int(n) for n in input().split()]

print(sum_ndarray(elements))

1 2 3 4
10

In [ ]:
import numpy as np
def dot_product(matrix,vector):
  dotproduct=0
  for matrix,vector in zip(matrix,vector):
      dotproduct = dotproduct+matrix*vector
  print('Dot product is:', dotproduct)

matrix = np.array([[1,2,3],[4,5,6]])
vector = np.array([[1],[0],[1]])
print(dot_product(matrix,vector))

Dot product is: [1 2 3]
None

In [ ]:
#program 6
dot = np.dot(matrix, vector)
print(dot)

[[ 4]
 [10]]

In [ ]:
#program 8
dataset = pd.read_csv('ratings.csv')
dataset.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [ ]:
datasetReview = dataset[dataset['rating']>3.5]
datasetReview

        userId  movieId  rating   timestamp
1            1      147     4.5  1425942435
2            1      858     5.0  1425941523
3            1     1221     5.0  1425941546
4            1     1246     5.0  1425941556
5            1     1968     4.0  1425942148
...        ...      ...     ...         ...
167399    1748    55247     4.0  1250094542
167400    1748    55442     4.0  1250095219
167401    1748    55814     4.0  1250095169
167406    1749     1037     4.0  1204355958
167407    1749     1064     5.0  1204356231

[83494 rows x 4 columns]

In [ ]:
# Function to rotate string left and right by d length

def rotate(input,d):
    list1 = input.split()
    for i in list1:
      d = len(i)/2
      Lfirst = input[0 : d]
      Lsecond = input[d :]
      Rfirst = input[0 : len(input)-d]
      Rsecond = input[len(input)-d : ]
      print ("Left Rotation : ", (Lsecond + Lfirst) )
      print ("Right Rotation : ", (Rsecond + Rfirst))

# Driver program
if __name__ == "__main__":
	input = 'Geeks for Geeks'
	d=2
	rotate(input,d)

TypeError: ignored

In [ ]:
nums = [i for i in range(1,200)]
for i in range()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199]

In [ ]:
import random
fruits = [str(n) for n in input().split()]
vegetables = [str(n) for n in input().split()]
proteins = [str(n) for n in input().split()]
print("The suggested food is",random.choice(fruits),random.choice(vegetables),random.choice(proteins))

fruit1 fruit2 fruit3
vegetable1 vegetable2 vegetable3
protein1 protein2 protein3
The suggested food is fruit2 vegetable2 protein1

In [ ]:
# sum = 0
# for i in range(N):
#       if i%2==0:
#           sum += A[i]
#       else:
#           sum += -1*A[i]
# return sum


def solve(N,A):
	sum = 0
	for i in range(N):
		if i%2 != 0:
			sum += A[i]
		else:
			sum += -1*A[i]
	return sum
N = int(input())
A = list(map(int,input().split()))
out_ = solve(N,A)
print(out_)

5
1 -2 -3 2 1
1

In [ ]:
1

[]

In [ ]:
lst = [15,-10,7,8]
list(el for el in lst if el % 5)

[7, 8]

In [ ]:
lst = [2,4,12,24]
list(el for el in lst if el % 6)

[2, 4]

In [ ]:
def Dictionary():
    d={}
    with open("tsv_file.tsv") as f:
        for line in f:
            (key, value)=line.split()
            key = int(val)
            #I have to eliminate the cities which have less than 10,000 people
            if key < 10000: 
                d[int(key)]=val
    #return {}
    #You want to return the created dictionary
    return d
#list=Dictionary()
# You do not wan't to name a variable to a built-in
lst = Dictionary()

print(lst)

In [ ]:
Hello world welome to python world

In [ ]:
test_string=input("Enter string:")
l=[]
l=test_string.split()
wordfreq=[l.count(p) for p in l]
print(dict(l,wordfreq))